
#logo{
    width: 120px;
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}

.menu-nav{
    display: flex;
    align-items: center;
}

ul{
display: flex;
    
}
li{
    padding: 0 10px;
    text-decoration: none;
}
.right-menu {
justify-content: right;
}
.container-menu {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
}